body{
	background-color: #000;
}

div#campo {
	width: 400px;
	height: 500px; 
	position: relative;
	margin: 0 auto; 
	border: solid; 
	background-color: #fff; 
	top: 50px;
}

@font-face{
	font-family: emulogic;
	src: url("../fonts/emulogic.ttf");
}